<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template of django..</title>
</head>
<body>
    <h2>Welcome to the text analyser</h2>
    <form action="analysed/" method="get">
        <textarea name="text" style="margin: 0px;
                        width: 581px;
                        height: 104px;">

        </textarea><br>
        <input type="checkbox" name="rmpunc"> Remove punctuations
        <input type="checkbox" name="capitalize">Capitalize
        <input type="checkbox" name="rmexspace">remove extra space
        <button type="submit">submit</button>

    </form>
</body>
</html>